<div class="container-fluid">
  <div class="row">
    <div class="col-5 mx-auto">
      <div class="mx-auto mt-5 position-relative"
           style="border: 2px solid black;"
           [ngStyle]="{'width': anchoTicket + 'pt', 'height': altoTicket + 'pt'}">

        <span class="position-absolute"
              [ngStyle]="{
              'font-weight': contenidoActual.negrita ? 'bold' : 'normal',
              'font-size': contenidoActual.tamano_fuente + 'pt',
              'left': contenidoActual.posicion_x + 'pt',
              'top': contenidoActual.posicion_y + 'pt',
              'width': contenidoActual.centrado ? '100%' : 'auto',
               'text-align': contenidoActual.centrado ? 'center' : 'left' }"
              *ngIf="contenidoActual.texto !== ''">
          {{contenidoActual.texto}}
        </span>

      </div>
    </div>
    <div class="col-7" style="border-left: 2px solid lightgray; height: 100vh">

      <div class="titulo-configuracion mt-3">
        <span>Plantillas</span>
      </div>

      <div class="row mt-1">
        <div class="col">
          <div class="form-group">
            <select class="form-control" id="exampleSelect" (change)="cambiarPlantilla()"
                    [(ngModel)]="plantillaSeleccionada">
              <option [ngValue]="1">Plantilla 1</option>
              <option [ngValue]="2">Plantilla 2</option>
              <option [ngValue]="3">Plantilla 3</option>
              <option [ngValue]="4">Plantilla 4</option>
              <option [ngValue]="5">Plantilla 5</option>
              <option [ngValue]="6">Plantilla 6</option>
            </select>
          </div>
        </div>
      </div>

      <div class="titulo-configuracion mt-3">
        <span>Herramientas de configuración</span>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="configuracion-ancho-ticket mt-2">
            <label class="ancho-ticket">Ancho ticket:</label>
            <input id="ancho-ticket"
                   type="number"
                   [(ngModel)]="anchoTicket" class="form-control"
                   placeholder="Ancho ticket">
          </div>
        </div>
        <div class="col">
          <div class="configuracion-alto-ticket mt-2">
            <label for="alto-ticket">Alto ticket:</label>
            <input id="alto-ticket"
                   type="number"
                   [(ngModel)]="altoTicket"
                   class="form-control"
                   placeholder="Alto ticket">
          </div>
        </div>

        <div class="col">
          <div class="mt-2">
            <label for="nombrePlantilla">Nombre plantilla:</label>
            <input id="nombrePlantilla" type="text" [(ngModel)]="nombrePlantilla" class="form-control" placeholder="Nombre plantilla">
          </div>
        </div>

        <div class="col">
          <div class="mt-2">
            <label for="numeroPlantilla">Número plantilla:</label>
            <input id="numeroPlantilla" type="number" [(ngModel)]="numeroPlantilla" class="form-control" placeholder="Número plantilla">
          </div>
        </div>
      </div>

      <div class="titulo-configuracion mt-3">
        <span>Añadir nueva línea</span>
      </div>

      <div class="row mt-3">
        <div class="col">
          <div class="form-group">
            <label for="tipo">Tipo:</label>
            <select class="form-control" id="tipo" (change)="cambiarTipo()" [(ngModel)]="contenidoActual.tipo">
              <option [ngValue]="0">ESTÁTICO</option>
              <option [ngValue]="1">DINÁMICO</option>
              <option [ngValue]="2">LISTA</option>
              <option [ngValue]="3">QR</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="idDinamico">Id contenido dinámico</label>
            <input id="idDinamico" type="number" class="form-control" placeholder="" [(ngModel)]="contenidoActual.id">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="textoFijo">Texto fijo</label>
            <input id="textoFijo" type="text" class="form-control" placeholder="" [(ngModel)]="contenidoActual.texto">
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col my-auto">
          <div class="row">
            <div class="col-8">
              <label for="centrado">Centrado</label>
            </div>
            <div class="col-4 text-end">
              <input style="transform: scale(1.5);" type="checkbox" [(ngModel)]="contenidoActual.centrado" id="centrado">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="ancho">Ancho:</label>
            <select class="form-control" id="ancho" (change)="cambiarAncho()" [(ngModel)]="contenidoActual.ancho">
              <option [ngValue]="0">DEFECTO</option>
              <option [ngValue]="1">DINÁMICO</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="tamanoFuente">Tamaño fuente</label>
            <input id="tamanoFuente" type="number" class="form-control" placeholder="" [(ngModel)]="contenidoActual.tamano_fuente">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col my-auto">
          <div class="row">
            <div class="col-8">
              <label for="negrita">Negrita</label>
            </div>
            <div class="col-4 text-end">
              <input style="transform: scale(1.5);" type="checkbox" [(ngModel)]="contenidoActual.negrita" id="negrita">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="posicionX">Posición X</label>
            <input id="posicionX" type="number" class="form-control" placeholder="" [(ngModel)]="contenidoActual.posicion_x">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="posicionY">Posición Y</label>
            <input id="posicionY" type="number" class="form-control" placeholder="" [(ngModel)]="contenidoActual.posicion_y">
          </div>
        </div><div class="col">
          <div class="form-group">
            <label for="separacionElementoLista">Separación elemento lista</label>
            <input id="separacionElementoLista" type="number" class="form-control" placeholder="" [(ngModel)]="contenidoActual.separacion_elemento_lista">
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <span style="font-weight: bold">Configuración de textos dinámicos compuestos</span>
        </div>
      </div>

      <div class="row" style="border: 2px solid black; padding: 5px; border-radius: 5px; margin: 5px 0;">
        <div class="col">
          <div class="form-group">
            <label for="idDinamicoCompuesto">Id</label>
            <input id="idDinamicoCompuesto" type="number" class="form-control" placeholder="" [(ngModel)]="idDinamicoCompuesto">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="textoDinamicoCompuesto">Texto</label>
            <input id="textoDinamicoCompuesto" type="text" class="form-control" placeholder="" [(ngModel)]="textoDinamicoCompuesto">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <div class="form-group">
              <label for="posicion">Posicion:</label>
              <select class="form-control" id="posicion" (change)="cambiarAncho()" [(ngModel)]="posicionSeleccionada">
                <option [ngValue]="0">IZQUIERDA</option>
                <option [ngValue]="1">DERECHA</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col" style="margin-top: 12px">
          <button class="btn btn-primary w-100 mt-2" (click)="addContenidoDinamicoCompuesto()">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>

        <div class="row mt-1">
          <div class="col">
            <ul>
              <li *ngFor="let texto of textosDinamicosCompuestos">
                {{texto.id}} - {{texto.texto}} - {{texto.posicion == 1 ? 'DERECHA' : 'IZQUIERDA'}}
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="titulo-configuracion mt-3">
        <span>Añadir contenido dinámico</span>
      </div>

      <div class="row">
        <div class="col-11 text-center">
          <input type="text" class="form-control mt-2" placeholder="Nuevo contenido dinamico"
                 [(ngModel)]="contenidoDinamico">
        </div>
        <div class="col-1">
          <button class="btn btn-primary w-100 mt-2" (click)="addContenidoDinamico()">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>

      <div class="titulo-configuracion mt-3">
        <span>Datos dinámicos</span>
      </div>

      <div class="row mt-2" style="max-height: 200px; overflow-y: auto;">
        <div class="col">
          <ol start="0">
            <li *ngFor="let datoDinamico of contenidosDinamico; let i = index; trackBy: trackByFn">
                  <span (click)="enableEdit(i)" [hidden]="editMode[i]">
                    {{ datoDinamico }}
                    <i class="bi bi-trash cursor-mano" (click)="deleteContenido(i); $event.stopPropagation();"></i>
                  </span>
              <input type="text" [(ngModel)]="contenidosDinamico[i]" [hidden]="!editMode[i]" id="input-{{i}}"
                     class="form-control">
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
