.titulo-configuracion
  font-size: 20px
  font-weight: bold
  border-bottom: 3px solid lightgray

.edit-input
  display: inline
  border: none
  background-color: transparent

.mostrar
  display: block !important
.ocultar
  display: none !important

.cursor-mano
  cursor: pointer

.disabled
  pointer-events: none
  opacity: 0.5

.item-seleccionado:hover
  color: coral !important
  font-weight: bold !important
  cursor: pointer !important
